<!-- Card1 -->
<div class="cards">
  <div class="card" style="width: 18rem">
    <img src="assets/imgs/register.jpg" class="card-img-top" alt="..." />
    <div class="card-body buttons">
      <a routerLink="/register-user" class="btn btn-primary">Register</a>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="card" style="width: 18rem">
    <img src="assets/imgs/login.jpg" class="card-img-top" alt="..." />
    <div class="card-body buttons">
      <a routerLink="/login-user" class="btn btn-primary">Login</a>
    </div>
  </div>
</div>
